<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}CoinLang{% endblock %}</title>

  {% block css %}{% endblock %}
</head>

<body>
  <header>
    <h1><a href="/">Coinlang</a></h1>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <small>© 2019 Kazukichiyadee Inc. All rights reserved.</small>
  </footer>

  {% block js %}{% endblock %}
</body>

</html>
